<div class="container col-sm-3">
  <div><display [total]="result"></display></div>
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div *ngFor="let num of numbers" class="col-sm-4">
          <number-button [numberValue]="num" (clickNumber)="numberHandler($event)"></number-button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <button type="button" class="btn btn-secondary btn-lg" style="width: 48px;" (click)="clearDisplay()">C</button>
        </div>
        <div class="col-sm-4">
          <number-button [numberValue]="0" (clickNumber)="numberHandler($event)"></number-button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-secondary btn-lg" style="width: 48px;" (click)="countTotal()">=</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div *ngFor="let op of operations" class="col-sm-12">
        <operation-button [operationValue]="op" (clickOperation)="operationHandler($event)"></operation-button>
      </div>
    </div>
  </div>

</div>
